.Ubutton {
    margin: auto 0;
    padding: 1rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    background: #026;
    color: white;
    box-shadow: 0 0 16px #0005;

    &:hover {
      background: #028;
      cursor: pointer;
    }

    &:active {
      background: #024;
    }
  }

  .PopUp {
    background: #000a;
    width: 100vw;
    height: 102vh;
    position: absolute;
    transform: translate(-20%, 45vh);

    @media (max-width: 640px) {
        transform: translate(-1.3rem, 45vh);
    }

    .UnburdenBox {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        background: #fff;
        box-shadow: 0 0 1rem #000;
        border-radius: 1rem;
        width: 42rem;
        height: fit-content;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        @media (max-width: 640px) {
            width: 22rem;
            margin: 0;
        }

        .CloseButton {
            background: #fff;
            width: 2rem;
            height: 2rem;
            right: 0;
            border-radius: 50%;
    
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        textarea {
            resize: none;
            height: 10rem;
            padding: 0.6rem 1rem;
            border-radius: 0.4rem;
            text-align: justify;

            @media (max-width: 640px) {
                height: 18rem;
            }
        }
        
        .UBFooter {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                color: #fff;
                border: none;
                padding: 0.8rem 1rem;
                border-radius: 0.2rem;
                box-shadow: 0.1rem 0.2rem 0.6rem #000a;
    
                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
    }
  }