.App {
    text-align: center;
    width: 100%;
    height: 100%;
  
    .App-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: hsl(0, 0%, 11%);
      padding: 1rem 20%;
      width: -webkit-fill-available;
      position: fixed;
      box-shadow: 0 0.5rem 16px #0008;
  
      h2 {
        color: white;
      }
      
      @media (max-width: 640px) {
        justify-content: space-between;
        padding: 1rem 5%;

        h2{
            font-size: 1rem;
        }
      }
    }
  
    .App-body {
      margin: auto;
      padding: 8rem 20% 0;
      
      @media (max-width: 640px) {
        padding: 8rem 5% 0;
      }

      .date-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;

        input {
          padding: 0.4rem;
          border: none;
          border-radius: 0.2rem;
          background: #f0f0f0;
          font-weight: bold;
        }

        strong, .icon {
          color: white;
        }
      }
    }
  }