.App {
    text-align: center;
    width: 100%;
    height: 100%;
  
    .App-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #1d1d1d;
      padding: 1rem;
      width: -webkit-fill-available;
      position: fixed;
      box-shadow: 0 0.5rem 16px #0008;
  
      h2 {
        color: white;
      }
      
      @media (max-width: 640px) {
        justify-content: space-between;

        h2{
            font-size: 1rem;
        }
      }
    }
  
    .App-body {
      margin: auto;
      padding: 8rem 20% 0;
      
      @media (max-width: 640px) {
        padding: 8rem 5% 0;
      }
    }
  }