.Speach-component {
    text-align: justify;
    color: white;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #888;

    &:last-child {
      border-bottom: none;
    }

    .Current-date {
      color: #888;
    }

    pre {
      padding: 1rem 0 0.2rem;
      font: inherit;
      text-wrap: wrap;
    }

    .SpeachHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .Buttons {
          display: inline-grid;
          grid-template-columns: auto auto;
          column-gap: 1.6rem;
          color: #555;
          cursor: pointer;

          @media (max-width: 640px) {
            grid-template-columns: auto;
            column-gap: 3rem;
          }

          svg:hover {
            color:#ccc;
          }
        }
    }
  }